
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstPage</title>
</head>
<body>
    <div> 
        <h1>
            Welcome to PhoneBook Application
        </h1>
    </div>
    <div>
        <input type="button" value="Add Data" onclick="location.href='@Url.Action("Enter", "Home")'" />
    </div>
</body>
</html>
