
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
</head>
<body>
    <div>
        <h1>Form</h1>
        <h2> Enter the Details..</h2>
    </div>
    <div>
        <form action="Save" method="post" autocomplete="off">
            Name <input name="Name" type="text" />
            <p></p>
            Address1 <input name="Address1" type="text" />
            <p></p>
            Address2 <input name="Address2" type="text" />
            <p></p>
            City <input name="City" type="text" />
            <p></p>
            Pincode <input name="Pincode" type="text" />
            <p></p>
            Phonenumber <input name="Phonenumber" type="text" />
            <p></p>
            <input id="Submit" type="submit" value="save" />
        </form>
       
    </div>   
</body>
</html>
